ul{
	list-style-type: none;
}
li{
	display: inline;
}
a{
	outline: none;
	text-decoration: none;
	color: #FFFFFF;
}
p{
	font-size: 15px;
}
.center{	
	margin: 0 auto;
    width: 98%;    
}
#lista{
	background-color: #7BA5CA;
	width: 100%;
}
#lista ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#lista ul li{
	color: #ffffff;
	font-size: 20px;	
	padding-right:7%;
	padding-left:7%;	
	background-color: rgb(123,165,202);
	margin: -1%;	
}
.clear{
	clear:both;
}
#contenedor-formulario{
	float:left;
	width: 50%;
}
#formulario-leyendas{
	margin-left: 18%;
	float:inherit
	width: 50%;
}
#formulario-enunciado{
	margin-left: 40%;
}
#contenedor-boton{
	padding-left: 37%;
	padding-top: 1%;
	padding-bottom: 5%;
}
#imagenFuente{
	width: 100%;	
}
#contenedor-imagen{
	margin-top: 1%;
	float:left;
	width: 10%;
}
#contenedor-imagen2{
	float:right;
	width: 50%;	
}

#piePagina{
	background-color: rgb(123,165,202);	
	margin-top: 20px;
	padding: 10px;
	overflow: hidden;
}
#piePagina > div{
	float: right;
}

.img-plus-myIcon{
	background-image: url('../images/favicon.ico') !important;
}

.controles{
	position: absolute;
	top:3%;
	left:85%;
}

.botonLikePrime{
	background-color: #E6F2FC; 
	font-size: 21px; 
	border-radius: 7px; 
	color: #245A8C
}